*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'bellota';
}
body{
    display: flex;
    background-color: #f4fffd;
    header{
        img{
            margin-top: 20px;
            width: 45rem;
        }
    }
    main{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .contact-form{
        align-items: start;
        display: flex;
        flex-direction: column;
        gap: 20px; 
        h2{
            font-weight: 600;
            font-size: 40px;
            color: #0D8187;
        }
        hr{
            border: none;
            width: 120px;
            height: 5px;
            background-color: #0D8187;
            border-radius: 10px;
            margin-bottom: 10px;
        }
        .contact-input{
            width: 400px;
            height: 40px;
            border: none;
            outline: none;
            padding-left: 20px;
            font-weight: 500;
            border-radius: 50px;
            background-color: #e7f3f2;
            margin: 5px 0;
            &:focus{
                border: 2px solid #0D8187;
            }
        }
        textarea{
            width: 400px;
            height: 100px;
            padding-top: 15px;
            padding-left: 15px;
            border-radius: 20px;
        }
        button{
            align-items: center;
            padding: 15px 30px;
            font-size: 16px;
            color: #fff;
            gap: 10px;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            background: linear-gradient(270deg, #44A08D, #093637);
        }

    }
}